<!-- <p>edit-user works!</p>
<!-- edit-user.component.html -->
<!-- <form (ngSubmit)="updateUser()">
    <input type="text" [(ngModel)]="user.fatherName" name="fatherName" placeholder="Father's Name">
    <input type="date" [(ngModel)]="user.dob" name="dob" placeholder="Date of Birth">
    <input type="text" [(ngModel)]="user.city" name="city" placeholder="City">
    <input type="text" [(ngModel)]="user.motherName" name="motherName" placeholder="Mother's Name">
    <select [(ngModel)]="user.maritalStatus" name="maritalStatus">
      <option value="single">Single</option>
      <option value="married">Married</option>
    </select>
    <button type="submit">Save</button>
  </form> -->
   -->
