<!-- <p>toast-notification works!</p>
<div class="modal fade" id="toastModal" tabindex="-1" aria-labelledby="toastModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-success text-light">
          <h5 class="modal-title" id="toastModalLabel">Success</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Registration successful!
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div *ngIf="showToast" class="alert alert-success alert-dismissible fade show" role="alert">
    Registration successful!
    <button type="button" class="btn-close" aria-label="Close" (click)="hideToast()"></button>
  </div> -->

  <!-- toast-notification.component.html -->
<!-- 
<div class="toast-container" *ngIf="showToast">
    <div class="toast alert alert-success" role="alert">
      Registration successful!
      <button type="button" class="btn-close" aria-label="Close" (click)="hideToast()"></button>
    </div>
  </div> -->

  <div class="toast-container" *ngIf="showToast">
    <div class="toast alert alert-success" role="alert">
      login success !
      <button type="button" class="btn-close" aria-label="Close" (click)="hideToast()"></button>
    </div>
  </div>
  
  
  
  
  
