<div class="container mt-3">
  <button class="btn btn-secondary mb-3" (click)="goBack()">Back</button>
  <h2 align="center">Your User Tickets</h2>

    <!-- Filters Section -->
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="titleFilter" class="form-label">Filter by Title:</label>
        <input
          id="titleFilter"
          type="text"
          (input)="onTitleFilterChange($event)"
          placeholder="Search by title"
          class="form-control"
        />
      </div>
      <div class="col-md-6">
        <label for="statusFilter" class="form-label">Filter by Status:</label>
        <select
          id="statusFilter"
          (change)="onStatusFilterChange($event)"
          class="form-control"
        >
          <option value="All">All</option>
          <option value="Open">Open</option>
          <option value="In Progress">In Progress</option>
          <option value="Escalated">Escalated</option>
          <option value="Closed">Closed</option>
        </select>
      </div>
    </div>
  
  <ng-container *ngIf="filteredTickets.length > 0; else noTickets">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>TicketID</th>
          <th>Title</th>
          <th>Status</th>
          <th>Actions</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of filteredTickets">
          <td class="text-center"><a [routerLink]="['/ticket-list', ticket.id]">TD-{{ ticket.id }}</a></td>
          <td><a [routerLink]="['/ticket-list', ticket.id]">{{ ticket.title }}</a></td>
          <td>{{ticket.status}}</td>
           <td>
           
            <button
            *ngIf="ticket.status === 'Open' || ticket.status==='In Progress' || ticket.status==='Escalated'"
            class="btn btn-danger"
            (click)="cancelTicket(ticket.id)"
          >
            Cancel
          </button>
          <button
            *ngIf="ticket.status === 'Cancelled'"
            class="btn btn-secondary"
            disabled
          >
            Cancelled
          </button> 

            <!-- Show View Details button if status is Closed -->
            <!-- <button
              *ngIf="ticket.status === 'Closed'||ticket.status === 'In Progress' || ticket.status === 'Escalated' ||ticket.status === 'Open' "
              class="btn btn-info"
              [routerLink]="['/ticket-list', ticket.id]"
            >
              View Details
            </button> -->
            <button
            *ngIf="ticket.status === 'Closed'"            
            class="btn btn-info"
            [routerLink]="['/ticket-list', ticket.id]"
          >
            View Details
          </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #noTickets>
    <h3 class="ticket" align="center">No tickets yet.</h3>
  </ng-template>
</div>

  