<div class="content container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h2 style="text-align: center">Admin Dashboard</h2>
          <table class="table table-bordered mt-4">
            <thead>
              <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                  <span (click)="deleteUser(user.id)" class="btn btn-danger"   data-toggle="tooltip" data-placement="top" title="Delete the user">
                    <i class="bi bi-trash3"></i>
                  </span>
                  <!-- <button (click)="deleteUser(user.id)" class="btn btn-danger">Delete</button> -->
                 

                </td>
                <td>
                  <span (click)="viewTickets(user.id)" class="btn btn-primary"
                  data-toggle="tooltip" data-placement="top" title="View user tickets">
                    <i class="bi bi-eye"></i>
                  </span>
                  <!-- <button (click)="viewTickets(user.id)" class="btn btn-primary">View History</button> -->

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
   
      
    </div>
   
    
    
  <!-- </div> -->