      <div>      
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:cyan; color: blue;">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item" *ngIf="currentUser?.role === 'admin'">
                    <a class="nav-link" routerLink="/home">Home</a>
                  </li>
                  <li class="nav-item" *ngIf="currentUser?.role === 'admin'">
                    <a class="nav-link" routerLink="/home/tickets">Tickets</a>
                  </li>
                  
                  <li class="nav-item" *ngIf="currentUser?.role === 'admin'">
                    <a class="nav-link" routerLink="/home/users">Users</a>
                  </li>
                  <li class="nav-item" *ngIf="currentUser?.role === 'admin'">
                    <a class="nav-link" routerLink="/home/audit-logs">Logs</a>
                  </li>
                  <!-- <li class="nav-item" *ngIf="currentUser?.role === 'admin'">
                    <a class="nav-link" routerLink="/home/tickets">Tickets</a>
                  </li>
                   -->
                </ul>
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item d-flex align-items-center">
                    <span class="avatar" *ngIf="currentUser">{{ getAvatarText(currentUser.username) }}</span>
                    <button class="btn btn-outline-danger ms-2" (click)="logout()">Logout</button>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- Conditionally show the greeting message only on the home page -->
  <div *ngIf="isHomePage">
    <h4 style="padding-left: 10px;">
      {{ greetingMessage }},
      <span> {{ capitalizeUsername(currentUser.username) }}</span>
    </h4>
    <h1 style="color: rgb(255, 89, 0); text-align: center;">Welcome, Admin</h1>
 <img src="assets/Ticket.png" alt="Description of Image" style="width: 1498px; height:600px;" /> 
  </div>
          

        <router-outlet></router-outlet>
      </div>
