/* .container {
    display: flex;
    justify-content: center; /* Centers the table horizontally */
    /* align-items: center; /* Centers the table vertically if needed */
    /* margin-top: 20px; /* Optional: Adds space at the top */
    
  /*} */

  .table-container {
    width: 100%;
    max-width: 800px; /* Adjust max-width as needed */
    margin: 0 auto; /* Centers the container on the page */
  }
/* Additional styling for table */
.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }  


  .filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Adds space below the filters */
  }
  
  .filters-container > div {
    margin-right: 20px; /* Adds space between the filters */
  }
  
  .filters-container label {
    margin-right: 8px; /* Space between label and input/select */
  }



  .status-open {
    color: green;
    font-weight: bold;
  }
  
  .status-inprogress {
    color: blue;
    font-weight: bold;
  }
  
  .status-escalated {
    color: orange;
    font-weight: bold;
  }
  
  .status-closed {
    color: red;
    font-weight: bold;
  }

  .status-cancelled {  /* New style for cancelled tickets */
    /* background-color: #f3f309; */
    color: rgb(233, 233, 10);
    font-size:medium;
    font-weight: bold;
    font-size:18px;
    text-decoration: line-through;
  }




  /* ticket-status.component.css or global stylesheet */
.manage-button {
  width: 150px; /* Set a fixed width to ensure both buttons are the same size */
  text-align: center; /* Center align the text */
  display: inline-block; /* Ensure it behaves like a block with other inline elements */
}

  
  