<!-- <p>Admin ticket works!</p> -->
  <div class="container mt-5">
    <!-- <button class="btn btn-secondary mb-3" (click)="goBack()">Back</button> -->
    <span (click)="goBack()" >
      <i class="bi bi-arrow-left-circle-fill "style="font-size: 2rem;"></i></span>
      <h2>Tickets for User {{ selectedUserId }} </h2>
      <table class="table table-bordered mt-4">
        <thead>
          <tr>
            <th>Ticket ID</th>
            <th>Title</th>
            <th>CreatedBy</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of tickets">
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.title }}</td>
            <td>{{ticket.username}}</td>
            <td [ngClass]="{
              'status-open': ticket.status === 'Open',
              'status-inprogress': ticket.status === 'In Progress',
              'status-escalated': ticket.status === 'Escalated',
              'status-closed': ticket.status === 'Closed',
              'status-cancelled': ticket.status === 'Cancelled'
             }">
             {{ ticket.status }}
          </td>
            <td>
              <span (click)="viewTicketDetails(ticket.id)" class="btn btn-primary" 
              data-toggle="tooltip" data-placement="top" title="View ticket details">
                <i class="bi bi-eye" ></i>
              </span>
              <!-- <button (click)="viewTicketDetails(ticket.id)" class="btn btn-primary" [disabled]="ticket.status === 'Cancelled'">View Details</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  
  